/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #100e17;
}
.container {
  max-width: 1140px;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}
header {
  margin: 30px 0;
  display: flex;
  justify-content: center;
}
header nav {
  width: 50%;
  padding: 15px 0;
  transition: 0.3s;
  display: flex;
  justify-content: space-between;
}
header nav a {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: white;
  text-decoration: none;
}
/*=================== TOP SECTION ===================*/
.top-section {
  padding-top: 100px;
  display: flex;
  justify-content: space-between;
  margin: 15% 0;
}
.top-section .top-title-box h1 {
  font-size: 3rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: white;
}
.top-section .top-title-box h2 {
  font-size: 1.625rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 30px;
  color: white;
  margin: 30px 0;
  line-height: 65px;
}
.top-section .top-info-box {
  margin: 30px 0;
  color: white;
}
.top-section .top-info-box .top-info-box-contact {
  font-size: 0.925rem;
  font-family: 'Roboto', sans-serif;
  color: #ddd;
}
.top-section .top-info-box .top-info-box-contact .fas {
  margin: 10px 0;
}
.top-section .top-info-box .top-info-box-contact .fas a {
  text-decoration: none;
  color: white;
}
.top-section .top-info-box .top-info-box-contact .fas a:hover {
  text-decoration: none;
  color: #4286f4;
}
.top-section .top-info-box .top-info-box-social {
  margin: 0 1%;
}
.top-section .top-img #outer-circle {
  background: radial-gradient(circle farthest-corner at -4% -12.9%, #4a626e 0.3%, #1e2130 90.2%);
  border-radius: 50%;
  height: 360px;
  width: 360px;
  position: relative;
  box-shadow: 0 0 0 10px #000000;
}
.top-section .top-img img {
  height: 360px;
  width: 360px;
}
/*=================== ABOUT SECTION ===================*/
.about-section {
  padding-top: 100px;
  margin: 15% 0;
  display: flex;
  justify-content: space-between;
}
.about-section .about-info-box {
  display: flex;
  justify-content: space-between;
}
.about-section .about-info-box .about-info-box-img img {
  max-width: 80%;
  height: auto;
}
.about-section .about-info-box .about-info-box-text {
  width: 600px;
}
.about-section .about-info-box .about-info-box-text h2 {
  font-size: 1.625rem;
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  line-height: 34px;
  margin-bottom: 30px;
  color: white;
}
.about-section .about-info-box .about-info-box-text p {
  font-size: 0.925rem;
  font-family: 'Roboto', sans-serif;
  color: #ddd;
  line-height: 1.5;
  color: white;
  opacity: 0.9;
}
.about-section .about-info-box .about-info-box-text .about-info-box-text-skills {
  margin: 30px 0;
}
.about-section .about-info-box .about-info-box-text .about-info-box-text-skills ul {
  margin: 0;
  padding: 0;
}
.about-section .about-info-box .about-info-box-text .about-info-box-text-skills ul li {
  margin: 0px 6px;
  border-radius: 4px;
  margin-bottom: 10px;
  padding: 4px 0px;
  display: inline-block;
  color: #ddd;
}
.about-section .about-info-box .about-info-box-text .about-info-box-text-skills ul li span {
  border: 1px solid #0bceaf;
  padding: 4px 10px;
  border-radius: 4px;
}
/*=================== WHAT I DO CONTENT ===================*/
.what-i-do {
  padding: 100px 0;
}
.what-i-do .wid-title h2 {
  text-align: center;
  margin-bottom: 60px;
  font-size: 2rem;
  line-height: 1.2;
  font-family: "roboto", sans-serif;
  font-weight: bold;
  color: #ddd;
}
.what-i-do .wid-content-box {
  box-shadow: -1rem 0 3rem #000;
  display: flex;
  justify-content: center;
  width: 350px;
  height: 250px;
  margin: 0 auto;
}
.what-i-do .wid-content-box .wid-content {
  background-color: #202026;
  padding: 20px;
  text-align: center;
}
.what-i-do .wid-content-box .wid-content .fa {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 16px;
}
.what-i-do .wid-content-box .wid-content .fa.iron-color {
  color: #ed7256;
}
.what-i-do .wid-content-box .wid-content h3 {
  font-family: "roboto", sans-serif;
  margin-bottom: 18px;
  font-size: 25px;
  line-height: 34px;
  font-weight: bold;
  color: #ddd;
}
.what-i-do .wid-content-box .wid-content p {
  font-size: 0.925rem;
  font-family: 'Roboto', sans-serif;
  color: #ddd;
}
